<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="edu.uh.honors.grandchallenges" version="1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Grand Challenges Forum</name>
  <description>
        An application for UH Honors College Grand Challenges Forum.
  </description>
  <author email="dash@uh.edu" href="http://housuggest.org/DASH">
        Data Analytics in Student Hands
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-navigation href="*"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <icon src="resources\android\icon\drawable-xhdpi-icon.png"/>
  <platform name="android">
    <icon src="resources\android\icon\drawable-ldpi-icon.png" density="ldpi"/>
    <icon src="resources\android\icon\drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="resources\android\icon\drawable-hdpi-icon.png" density="hdpi"/>
    <icon src="resources\android\icon\drawable-xhdpi-icon.png" density="xhdpi"/>
    <icon src="resources\android\icon\drawable-xxhdpi-icon.png" density="xxhdpi"/>
    <icon src="resources\android\icon\drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
  </platform>
</widget>